@media screen and (min-width: 56rem) {
  nav button {
    display: none;
  }

  .header {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

  nav ul {
    display: flex;
  }

  nav ul li a {
    border: none;
  }

  #content {
    max-width: 750;
    background-color: 62c48e;
  }

  #center {
    margin: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr, 1fr, 1fr; */
    grid-gap: 1rem;
  }

  /* main .shirt{
    grid-column: 1/2;
    grid-row: 1/2;
  }  */
  main #first {
    grid-column: 2/4;
    grid-row: 1/3;
  }

  main #shoes {
    grid-column: 4;
  }

  main #text {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}