@media screen and (min-width: 56rem) {
    nav button {
      display: none;
    }
    .header {
      display: grid;
      grid-template-columns: 2fr 2fr;
    }
    nav ul {
      display: flex;
    }
    nav ul li a {
      border: none;
    }
    #content {
      max-width: 800;
      background-color: 62c48e;
    }
   
  }
  #double{
    margin: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
  }
  main .shirt{
    grid-column: 1/2;
    grid-row: 1/2;
  } 
  main .center {
    grid-column: 2/4;
    grid-row: 1/3;
  }
  
  