@media screen and (min-width: 35rem) {
    .header {
        display: grid;
        grid-template-columns: 2fr 0.4fr;
      }
      .main-image img {
        max-width: 1000px;
        margin: 3vw;
      }
      #center {
        margin: 2vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1f;               
        grid-gap: 1rem;
      }
      main #first {
        grid-column: 1/3;
      }
      main #shirt{
        grid-column: 1/2;
      }
}